body{
	padding-top: 100px;
	background-color: #CDE7E4;
	color: #353535;
}
.screen-shot{
	padding:10px;
}
.page-footer{
	position:fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	font-size: 11px;
	background-color: #9CC0B6;
	border-top: 1px solid #44645B;
	padding: 5px;
	color: #000;
	font-weight: bold;
	color: #4A4A44;
}
#license_terms{
	display : none;
	background: #000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #000;
	background-color: #D3F381;
}
a.btn-github{
	color: #FFF;
	font-size: 12px;
	height: 50px;
	background: #008000 url('../images/GitHub-Mark-Light-32px.png') no-repeat 10px center;
	padding: 20px 10px 10px 50px;
	box-shadow: 2px 0px 2px #163D06;
	border: 1px solid #387A38;
	border-top-width: 0px;
	border-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: fixed;
	top: 0px;
	right: 50px;
}
a.btn-github:hover{
	color:#fff;
	background-color: #006000;
}
.navbar-brand{
	background-image: url('../images/canary.png');
	background-repeat: no-repeat;
	background-size: 44px;
	background-position: left center;
	padding-left: 50px;
}
.container{
	margin-bottom:30px
}
.navbar .container{
	margin-bottom:0px;
}
.navbar {
	background-color: #B3D173;
}
.how-to-carousel{
	width: 800px;
	background: #4E834B;
	padding: 10px 30px;
	border-radius: 10px;
	border: 1px solid #1F381E;
	box-shadow: inset 5px 5px 10px #1F381E;
}
.how-to-carousel .carousel-inner{
	min-height : 500px;
}
.how-to-carousel .carousel-inner img{
	margin: 0 auto;
}
.how-to-carousel .carousel-caption{
	background-color:#F57A00;
	border-radius: 5px;
	width: 100%;
	padding: 10px;
	margin: 0px;
	left: 0px;
}
.how-to-carousel .carousel-inner>.item {
	
}
.how-to-carousel .carousel-control{
	background: transparent;
}